langchain>=0.2.0
langchain-text-splitters
langchain-core
langchain-community>=0.2.0
langchain-google-genai
langgraph
google-generativeai
faiss-cpu
sentence-transformers
rank-bm25
pdfplumber
python-docx
python-pptx
openpyxl
pandas
numpy
streamlit
loguru
python-dotenv
tiktoken
langchain-huggingface
youtube-search-python
googlesearch-python
speechrecognition
streamlit-mic-recorder
reportlab
langchain-groq
plotly